.showcase-set{
    width: 450px;
    height: 300px;
    display: flex;
    box-shadow: 0px 0px 15px rgba(82, 80, 80, 0.555);
}
.showcase-set1{
    position: absolute;
    z-index: -2;
    width: 450px;
    height: 300px;
    opacity: 2;
    margin: 20px 0px 0px 20px;
    box-shadow: 5px 5px 5px rgba(82, 80, 80, 0.555);
    background-color: rgb(245, 242, 245);
}
.showcase-container{
  padding-top: 100px;
    display: flex;
  
   
}
marquee{
    align-items: center;
}
.skills{
    display: flex;
}
.project-title{
   margin-top: -200px;
    font-family: system-ui;
    font-size: 35px;
    text-shadow: 0px 0px 5px rgb(116, 115, 115);
}
.showcase1{
    background-color: rgba(244, 240, 244, 0.94);
    height: 500px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.img-view{  
    width: 450px;
    height: 300px;
  opacity: 0.7;
 
}
.arrow{
    font-weight: 400px;
    font-size: 20px;
}

.img-view:hover{
    opacity:1;
}
.btn-view{
    filter: blur(0.5);
    position: absolute;
    margin: 120px 0px 0px 150px;
}
@media screen and (max-width:800px){
    .showcase1{
        flex-direction: column;   
        height: 1200px;
    }
   
   .btn-view{
    margin: 70px 0px 0px 50px;
   }
   .project-title{
    margin-top: 50px;   
   }
    .img-view{
        width: 250px ;
        height: 200px;
    }
    .showcase-set1{
        width: 250px ;
        height: 200px;
        margin-left: 75px;
    }
    .showcase-set{
        width: 250px ;
        height: 200px;
        margin-left: 60px;

    }
    .showcase-container{
      
        padding: 0px;
        margin-top: 30px;
      
    }
}