.nav-profile{
    margin: 15px 0px 0px 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid rgba(162, 158, 158, 0.508);
}
.nav-container{
    height: 70px;
    display:flex; 
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(240, 244, 244, 0.479); 
    
}
.nav-right{
    display: flex;
}
li{
    font-weight: 300;
    margin: 15px;
    margin-left: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li:hover{
   opacity: 0.5;
  
}


.list-container{
    margin-left: 400px;
}
#name-profile{
    margin-top: 20px;
    position: absolute;
    margin-left: 85px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.nav-icon{
    display: flex;
}
@media screen and (max-width:800px) {
   .list-container{
   margin-left: 100px;
   } 
   li{
    margin-left: 20px;
   }
   .list-container{
    display: none;
   }
    
}
